<div class="n3-header">
   <div class="h-top">
      <div class="col-md-4 col-sm-4 col-xs-4">
         <div class="area-info">
            <div class="phone-support">
               <div class="dropdown-toggle" data-toggle="dropdown">
                  <div class="f-left">
                     <span class="hidden-xs">Hotline:</span> <span class="num-color">1900 1839</span>
                  </div>
                  <div class="f-left" style="margin-top:-2px;">
                     <img src="/Content/ThemeHe/img/i-arrow-hl.png" style="margin-left: 8px;" alt="arrow">
                  </div>
               </div>
               <ul class="dropdown-menu">
                  <li>
                     <table style="width: 100%">
                        <tbody>
                           <tr>
                              <td colspan="3" class="city-name">Hồ Chí Minh</td>
                           </tr>
                           <tr>
                              <td style="width: 53%;">
                                 Tổng đài: <br>
                                 Du lịch trong nước: <br>
                                 Du lịch nước ngoài:<br>
                                 Dịch vụ khách hàng:
                              </td>
                              <td class="whitetext">
                                 <strong>(028)3822.8898</strong><br>
                                 <strong>0938.301.399</strong><br>
                                 <strong>0938.301.388</strong><br>
                                 <strong>0938.301.234</strong>
                              </td>
                              <td>
                                 &nbsp;&nbsp;<br>
                                 <a href="skype:fit.dltn?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:fit.dlnn?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:online.cskh?chat"><i class="iconT-skype"></i></a>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="3">&nbsp;</td>
                           </tr>
                           <tr>
                              <td colspan="3" class="city-name">Chi Nhánh Hà Nội</td>
                           </tr>
                           <tr>
                              <td style="width: 53%;">
                                 Du lịch trong nước: <br>
                                 Du lịch nước ngoài:<br>
                                 Dịch vụ khách hàng:
                              </td>
                              <td class="whitetext">
                                 <strong>0989.370.033</strong><br>
                                 <strong>0983.160.022</strong><br>
                                 <strong>0938.301.234</strong>
                              </td>
                              <td>
                                 <a href="skype:fitdltn.hanoi?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:fitdlnn.hanoi?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:online.cskh?chat"><i class="iconT-skype"></i></a>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="3">&nbsp;</td>
                           </tr>
                           <tr>
                              <td colspan="3" class="city-name">Chi Nhánh Đà Nẵng</td>
                           </tr>
                           <tr>
                              <td style="width: 53%;">
                                 Du lịch trong nước: <br>
                                 Du lịch nước ngoài:<br>
                                 Dịch vụ khách hàng:
                              </td>
                              <td class="whitetext">
                                 <strong>0905.173.331</strong><br>
                                 <strong>0932.472.310</strong><br>
                                 <strong>0938.301.234</strong>
                              </td>
                              <td>
                                 <a href="skype:fitdltn.danang?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:fitdlnn.danang?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:online.cskh?chat"><i class="iconT-skype"></i></a>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="3">&nbsp;</td>
                           </tr>
                           <tr>
                              <td colspan="3" class="city-name mauchudao">Chi Nhánh Cần Thơ</td>
                           </tr>
                           <tr>
                              <td style="width: 53%;">
                                 Du lịch trong nước: <br>
                                 Du lịch nước ngoài:<br>
                                 Dịch vụ khách hàng:
                              </td>
                              <td class="whitetext">
                                 <strong>0939 05 95 96</strong><br>
                                 <strong>0903.114.664</strong><br>
                                 <strong>0938.301.234</strong>
                              </td>
                              <td>
                                 <a href="skype:fitdltn.cantho?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:fitdlnn.cantho?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:online.cskh?chat"><i class="iconT-skype"></i></a>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="3">&nbsp;</td>
                           </tr>
                           <tr>
                              <td colspan="3" class="city-name mauchudao">Chi Nhánh Hải Phòng</td>
                           </tr>
                           <tr>
                              <td style="width: 53%;">
                                 Du lịch trong nước: <br>
                                 Du lịch nước ngoài:<br>
                                 Dịch vụ khách hàng:
                              </td>
                              <td class="whitetext">
                                 <strong>0936.900.095</strong><br>
                                 <strong>0936.900.085</strong><br>
                                 <strong>0938.301.234</strong>
                              </td>
                              <td>
                                 <a href="skype:fitdltn.haiphong?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:fitdlnn.haiphong?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:online.cskh?chat"><i class="iconT-skype"></i></a>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="3">&nbsp;</td>
                           </tr>
                           <tr>
                              <td colspan="3" class="city-name mauchudao">Chi Nhánh Nha Trang</td>
                           </tr>
                           <tr>
                              <td style="width: 53%;">
                                 Du lịch trong nước: <br>
                                 Du lịch nước ngoài:<br>
                                 Dịch vụ khách hàng:
                              </td>
                              <td class="whitetext">
                                 <strong>&lrm;&lrm;093.1616.555</strong><br>
                                 <strong>0988.608.286</strong><br>
                                 <strong>0938.301.234</strong>
                              </td>
                              <td>
                                 <a href="skype:fitdltn.nhatrang?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:fitdlnn.nhatrang?chat"><i class="iconT-skype"></i></a><br>
                                 <a href="skype:online.cskh?chat"><i class="iconT-skype"></i></a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </li>
               </ul>
               <div class="clear"></div>
            </div>
         </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8">
         <div class="area-info">
            <div class="f-right nav-top-mini hidden-lg hidden-md">
               <div class="i-menu text-right">
                  <div><i class="fas fa-bars fa-lg"></i></div>
               </div>
               <ul class="nav-top" style="display: none;">
                  <li class="hidden-sm hidden-xs">
                     <a href="/">Du lịch</a>
                     <ul class="sub-menu">
                        <li><a href="https://xuyenviet.travel.com.vn/">Tour xuyên việt</a></li>
                        <li><a href="/du-lich-viet-nam.aspx">Du lịch trong nước</a></li>
                        <li><a href="https://travel.com.vn/Hotel/Destination" rel="nofollow">Du lịch tự chọn</a></li>
                        <li><a href="https://dulichantoan.vietravel.com/">Du lịch an toàn</a></li>
                        <li><a href="http://vscc.edu.vn/" target="_blank" rel="nofollow">Du học</a></li>
                     </ul>
                  </li>
                  <li class="hidden-lg hidden-md"><a href="https://xuyenviet.travel.com.vn/">Tour xuyên việt</a></li>
                  <li class="hidden-lg hidden-md"><a href="/du-lich-viet-nam.aspx">Du lịch trong nước</a></li>
                  <li class="hidden-lg hidden-md"><a href="https://travel.com.vn/Hotel/Destination" rel="nofollow">Du lịch tự chọn</a></li>
                  <li class="hidden-lg hidden-md"><a href="http://vscc.edu.vn/" target="_blank" rel="nofollow">Du học</a></li>
                  <li><a href="https://tripu.vn/vi/hotels" rel="nofollow">Khách sạn</a></li>
                  <li class="hidden-sm hidden-xs">
                     <a href="http://vietravelairlines.com/" target="_blank" rel="nofollow">Vận chuyển</a>
                     <ul class="sub-menu">
                        <li><a href="http://car4rent.com/" target="_blank" rel="nofollow">Thuê xe</a></li>
                        <li><a href="http://vietravelairlines.com/" target="_blank" rel="nofollow">Vé máy bay</a></li>
                     </ul>
                  </li>
                  <li class="hidden-lg hidden-md"><a href="http://car4rent.com/" target="_blank" rel="nofollow">Thuê xe</a></li>
                  <li class="hidden-lg hidden-md"><a href="http://vietravelairlines.com/" target="_blank" rel="nofollow">Vé máy bay</a></li>
                  <li class="hidden-sm hidden-xs">
                     <a href="/tin-tuc-du-lich.aspx">Tin tức</a>
                     <ul class="sub-menu">
                        <li><a href="/tin-tuc-du-lich.aspx">Tin tức</a></li>
                        <li><a href="/du-lich-bang-hinh-anh.aspx">Cẩm nang du lịch</a></li>
                        <li><a href="/kinh-nghiem-du-lich.aspx">Kinh nghiệm du lịch</a></li>
                        <li><a href="/thong-tin-visa.aspx">Thông tin visa</a></li>
                     </ul>
                  </li>
                  <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich.aspx">Tin tức</a></li>
                  <li class="hidden-lg hidden-md"><a href="/du-lich-bang-hinh-anh.aspx">Cẩm nang du lịch</a></li>
                  <li class="hidden-lg hidden-md"><a href="/kinh-nghiem-du-lich.aspx">Kinh nghiệm du lịch</a></li>
                  <li class="hidden-lg hidden-md"><a href="/thong-tin-visa.aspx">Thông tin visa</a></li>
                  <li class="hidden-sm hidden-xs">
                     <a href="#">Khuyến mại</a>
                     <ul class="sub-menu">
                        <li><a href="/tin-tuc-du-lich/tra-cham-0-lai-suat-cung-sacombank-v13244.aspx">Mua tour trả chậm 0%</a></li>
                        <li><a href="/tin-tuc-du-lich/the-le-chuong-trinh-%E2%80%9Cnuoc-viet-toi-yeu-%E2%80%93-giam-10-cung-the-tin-dung-vib%E2%80%9D-v13372.aspx">Ưu đãi cùng VIB</a></li>
                        <li><a href="/tin-tuc-du-lich/the-le-chuong-trinh-%E2%80%9Cgiam-gia-10-cung-the-vib-va-uu-dai-hap-dan-tu-vnpay-qr-code%E2%80%9D-v13375.aspx">Ưu đãi VN Pay</a></li>
                        <li><a href="/tin-tuc-du-lich/the-le-chuong-trinh-hoan-tien-msb-v13398.aspx">Hoàn tiền MSB</a></li>
                        <li><a href="/tin-tuc-du-lich/the-le-chuong-trinh-hoan-tien-bidv-v13399.aspx">Hoàn tiền BIDV</a></li>
                     </ul>
                  </li>
                  <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich/the-le-chuong-trinh-%E2%80%9Cnuoc-viet-toi-yeu-%E2%80%93-giam-10-cung-the-tin-dung-vib%E2%80%9D-v13372.aspx">Ưu đãi cùng VIB</a></li>
                  <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich/the-le-chuong-trinh-%E2%80%9Cgiam-gia-10-cung-the-vib-va-uu-dai-hap-dan-tu-vnpay-qr-code%E2%80%9D-v13375.aspx">Ưu đãi VN Pay</a></li>
                  <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich/the-le-chuong-trinh-hoan-tien-msb-v13398.aspx">Hoàn tiền MSB</a></li>
                  <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich/the-le-chuong-trinh-hoan-tien-bidv-v13399.aspx">Hoàn tiền BIDV</a></li>
                  <li><a href="https://vietravelplus.com/" target="_blank" rel="nofollow">VietravelPlus</a></li>
                  <li><a href="/lien-he.aspx">Liên hệ</a></li>
               </ul>
            </div>
            <div class="f-right h-line hidden-lg hidden-md">
               <img src="/Content/ThemeHe/img/h-line.png" alt="line">
            </div>
            <div class="f-right lang-info">
               <div class="obj pos-relative">
                  <div class="dropdown-toggle" data-toggle="dropdown">
                     <img src="/Content/ThemeHe/img/vn.png" alt="Vietnamese">
                     <span style="padding-left: 5px;" class="hidden-xs">VN</span>
                  </div>
                  <ul class="dropdown-menu">
                     <li style="border-bottom: 1px dashed rgb(204, 204, 204); --darkreader-inline-border-bottom:#3e4446;" data-darkreader-inline-border-bottom=""><a href="https://travel.com.vn"><strong class="mauchudao">VN</strong> - Tiếng Việt</a></li>
                     <li><a href="https://en.travel.com.vn"><strong class="mauchudao">EN</strong> - Tiếng Anh</a></li>
                  </ul>
               </div>
            </div>
            <div class="f-right h-line">
               <img src="/Content/ThemeHe/img/h-line.png" alt="line">
            </div>
            <div class="f-right user-info">
               <div class="obj pos-relative">
                  <img src="/Content/ThemeHe/img/user-s.png" alt="Tài khoản" class="dropdown-toggle" data-toggle="dropdown">
                  <ul class="dropdown-menu">
                     <li style="border-bottom: 1px dashed rgb(204, 204, 204); --darkreader-inline-border-bottom:#3e4446;" data-darkreader-inline-border-bottom="">
                        <a id="btDangNhap" href="#" data-toggle="modal" data-target="#dangnhap">Đăng nhập</a>
                     </li>
                     <li><a href="http://vietravelplus.com/dang-ky-hoi-vien" target="_blank">Đăng ký</a></li>
                  </ul>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="f-right h-line">
               <img src="/Content/ThemeHe/img/h-line.png" alt="line">
            </div>
            <div class="f-right cart-info">
               <div class="obj pos-relative cart-info-bag">
                  <a id="shopping-cart-bag" href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <img src="/Content/ThemeHe/img/i-cart.png" alt="line">
                     <div class="frame-cart">
                        <div class="circle-num">
                           <span class="num numCard">0</span>
                        </div>
                     </div>
                  </a>
                  <div class="dropdown-menu">
                     <div class="row item-cvch">
                        <div class="col-xs-12 text-left cart-title">
                           <i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;GIỎ HÀNG PHIẾU QUÀ TẶNG
                        </div>
                        <div class="col-xs-12 item-vch">
                           <form action="/Voucher/_HeaderShoppingCart" enctype="multipart/form-data" id="frmHeaderShoppingCart" method="get" name="frmHeaderShoppingCart">
                              <input name="__RequestVerificationToken" type="hidden" value="wKCQj-RhBMCnfxr3wNfTBW9UK03QVT1P6sf8y2KYPkL1DUNf-6S8nVLsyb4SaqMWZHY788ahgJ4H_VnXzYovnBtcqxTtyTRUEaSVAOPtkZU1">
                              <table class="table table-bordered">
                                 <tbody>
                                    <tr>
                                       <td>
                                          Giỏ hàng trống
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </form>
                        </div>
                        <div class="col-xs-12 text-right mg-bot10"></div>
                     </div>
                  </div>
                  <script type="text/javascript">
                     function DeleteHeaderShoppingCart(SanPhamId) {
                         var form = $('#frmHeaderShoppingCart');

                         var token = $('input[name="__RequestVerificationToken"]', form).val();

                         $.ajax({
                             url: '/Voucher/_DeleteShoppingCart',
                             timeout: 200000,
                             type: "POST",
                             data: {
                                 SanPhamId: SanPhamId,
                                 __RequestVerificationToken: token
                             },
                             beforeSend: function () {
                                 $(".divLoading").addClass("loading");
                             },
                             success: function (response) {
                                 $(".divLoading").removeClass("loading");

                                 if (response.status == 1) {
                                     $('.row_' + SanPhamId).hide('slow');

                                     $('#TongTien').html(response.Price);

                                     $(".numCard").html(response.obj);

                                     ShowNoti('Thông báo', response.text, "success");
                                 } else {
                                     ShowNoti('Lỗi', response.text, "error");
                                 }

                                 $('#shopping-cart-bag').click();
                             },
                             error: function (message) {
                                 $(".divLoading").removeClass("loading");

                                 ShowNoti('Lỗi', message, "error");
                             }
                         });
                     }
                  </script>
               </div>
            </div>
            <div class="f-right hidden-xs">
               <img src="/Content/ThemeHe/img/h-line.png" alt="line">
            </div>
            <div class="f-right h-line hidden-xs">
               <img src="/Content/ThemeHe/img/h-line.png" alt="line">
            </div>
            <div class="f-right cart-info  hidden-xs">
               <div class="obj pos-relative">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <img src="/Content/ThemeHe/img/v/i-viewed.png" alt="line">
                     <div class="frame-cart">
                        <div class="circle-num">
                           <span class="num">0</span>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
            <div class="f-right hidden-xs">
               <img src="/Content/ThemeHe/img/h-line.png" alt="line">
            </div>
            <div class="f-right search-mini hidden-xs">
               <div class="obj pos-relative">
                  <form action="/Tour/SearchToursByDestinationChild" method="post">
                     <input name="__RequestVerificationToken" type="hidden" value="DJOlNy7RhRDkiP6s7XP3lLPg4KsylSXN1OC9vrDAMCqGad4EZHbsoIyzFJBzFc4bxlRhARCLzEpKYws6yucyVBdM4l8qp4Rfzyha12HReTc1"> <input type="text" class="txt-search form-control input-md " name="search" placeholder="Tour du lịch, Điểm đến...">
                     <div class="btn-f">
                        <button type="submit" onclick="ga('event','SearchTop', 'SearchTopClick', 'keywords');" id="btnSearchTour" style="background-color: rgb(241, 241, 241); border: none; height: 40px; --darkreader-inline-bgcolor:#202324; --darkreader-inline-border-top: initial; --darkreader-inline-border-right: initial; --darkreader-inline-border-bottom: initial; --darkreader-inline-border-left: initial;" data-darkreader-inline-bgcolor="" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left="">
                        <img src="/Content/ThemeHe/img/i-search-mini.png" alt="search">
                        </button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="clear"></div>
         </div>
      </div>
   </div>
   <div class="h-bot">
      <div class="container">
         <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
               <a href="/">
               <img src="/Content/ThemeHe/img/logo.png" alt="logo">
               </a>
            </div>
            <div class="col-md-8 hidden-sm col-xs-12">
               <nav class="menu hidden-xs">
                  <ul>
                     <li class="hidden-xs">
                        <a href="/">Du lịch</a>
                        <ul class="sub-menu">
                           <li><a href="https://xuyenviet.travel.com.vn/">Tour xuyên việt</a></li>
                           <li><a href="/du-lich-viet-nam.aspx">Du lịch trong nước</a></li>
                           <li><a href="https://travel.com.vn/Hotel/Destination" rel="nofollow">Du lịch tự chọn</a></li>
                           <li><a href="https://dulichantoan.vietravel.com/">Du lịch an toàn</a></li>
                           <li><a href="http://vscc.edu.vn/" target="_blank" rel="nofollow">Du học</a></li>
                        </ul>
                     </li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="https://xuyenviet.travel.com.vn/">Tour xuyên việt</a></li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="/du-lich-viet-nam.aspx">Du lịch trong nước</a></li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="https://travel.com.vn/Hotel/Destination" rel="nofollow">Du lịch tự chọn</a></li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="http://vscc.edu.vn/" target="_blank" rel="nofollow">Du học</a></li>
                     <li><a href="https://tripu.vn/vi/hotels" rel="nofollow">Khách sạn</a></li>
                     <li class="hidden-xs">
                        <a href="http://vietravelairlines.com/" target="_blank" rel="nofollow">Vận chuyển</a>
                        <ul class="sub-menu">
                           <li><a href="http://car4rent.com/" target="_blank" rel="nofollow">Thuê xe</a></li>
                           <li><a href="http://vietravelairlines.com/" target="_blank" rel="nofollow">Vé máy bay</a></li>
                        </ul>
                     </li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="http://car4rent.com/" target="_blank" rel="nofollow">Thuê xe</a></li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="http://vietravelairlines.com/" target="_blank" rel="nofollow">Vé máy bay</a></li>
                     <li class="hidden-xs">
                        <a href="/tin-tuc-du-lich.aspx">Tin tức</a>
                        <ul class="sub-menu">
                           <li><a href="/tin-tuc-du-lich.aspx">Tin tức</a></li>
                           <li><a href="/du-lich-bang-hinh-anh.aspx">Cẩm nang du lịch</a></li>
                           <li><a href="/kinh-nghiem-du-lich.aspx">Kinh nghiệm du lịch</a></li>
                           <li><a href="/thong-tin-visa.aspx">Thông tin visa</a></li>
                        </ul>
                     </li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="/tin-tuc-du-lich.aspx">Tin tức</a></li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="/du-lich-bang-hinh-anh.aspx">Cẩm nang du lịch</a></li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="/kinh-nghiem-du-lich.aspx">Kinh nghiệm du lịch</a></li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="/thong-tin-visa.aspx">Thông tin visa</a></li>
                     <li class="hidden-xs">
                        <a href="#">Khuyến mại</a>
                        <ul class="sub-menu">
                           <li><a href="/tin-tuc-du-lich/tra-cham-0-lai-suat-cung-sacombank-v13244.aspx">Mua tour trả chậm 0%</a></li>
                           <li><a href="/tin-tuc-du-lich/the-le-chuong-trinh-%E2%80%9Cnuoc-viet-toi-yeu-%E2%80%93-giam-10-cung-the-tin-dung-vib%E2%80%9D-v13372.aspx">Ưu đãi cùng VIB</a></li>
                           <li><a href="/tin-tuc-du-lich/the-le-chuong-trinh-%E2%80%9Cgiam-gia-10-cung-the-vib-va-uu-dai-hap-dan-tu-vnpay-qr-code%E2%80%9D-v13375.aspx">Ưu đãi VN Pay</a></li>
                           <li><a href="/tin-tuc-du-lich/the-le-chuong-trinh-hoan-tien-msb-v13398.aspx">Hoàn tiền MSB</a></li>
                           <li><a href="/tin-tuc-du-lich/the-le-chuong-trinh-hoan-tien-bidv-v13399.aspx">Hoàn tiền BIDV</a></li>
                        </ul>
                     </li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="/tin-tuc-du-lich/tra-cham-0-lai-suat-cung-sacombank-v13244.aspx">Mua tour trả chậm 0%</a></li>
                     <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich/the-le-chuong-trinh-%E2%80%9Cnuoc-viet-toi-yeu-%E2%80%93-giam-10-cung-the-tin-dung-vib%E2%80%9D-v13372.aspx">Ưu đãi cùng VIB</a></li>
                     <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich/the-le-chuong-trinh-%E2%80%9Cgiam-gia-10-cung-the-vib-va-uu-dai-hap-dan-tu-vnpay-qr-code%E2%80%9D-v13375.aspx">Ưu đãi VN Pay</a></li>
                     <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich/the-le-chuong-trinh-hoan-tien-msb-v13398.aspx">Hoàn tiền MSB</a></li>
                     <li class="hidden-lg hidden-md"><a href="/tin-tuc-du-lich/the-le-chuong-trinh-hoan-tien-bidv-v13399.aspx">Hoàn tiền BIDV</a></li>
                     <li><a href="https://vietravelplus.com/" target="_blank" rel="nofollow">VietravelPlus</a></li>
                     <li><a href="/lien-he.aspx">Liên hệ</a></li>
                  </ul>
               </nav>
               <div class="search-mini-s pos-relative hidden-lg hidden-md hidden-sm">
                  <form action="/Tour/SearchToursByDestinationChild" method="post">
                     <input name="__RequestVerificationToken" type="hidden" value="rlZG84YFCMjg73RhFhU_1Rtw6HVASUBFmK-AstDRG4psmO_ez-NMaxU-pBTvkToDaRnajqmDhk2JtvLZMolYJanQLOfoqb3F8Utj_n8kg5o1"> <input type="text" class="txt-search form-control input-md " name="search" placeholder="Tour du lịch, Điểm đến...">
                     <div class="btn-f">
                        <button type="submit" onclick="ga('event','SearchTop', 'SearchTopClick', 'keywords');" id="btnSearchTour" style="background-color: white; border: none; --darkreader-inline-bgcolor:#181a1b; --darkreader-inline-border-top: initial; --darkreader-inline-border-right: initial; --darkreader-inline-border-bottom: initial; --darkreader-inline-border-left: initial;" data-darkreader-inline-bgcolor="" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left="">
                        <img src="/Content/ThemeHe/img/i-search-mini.png" alt="search">
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
